	<footer class="contacts">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2 class="bottom-logo"><a href="index.html">Palo Alto</a></h2>
					<div class="bottom_nav">
						<ul>
							<li><a href="#" class="active">Home</a></li>
							<li><a href="about.html"><span>About</span></a></li>
							<li><a href="archive.html"><span>Archive</span></a></li>
							<li><a href="contacts.html"><span>Contact</span></a></li>
							<li><a href="search-1.html" class="icon icon-search"></a></li>
						</ul>
					</div>
					<h6 class=" foot-line">
						Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor.
					</h6>
					<div class="info-designed info-designed-line">
						© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <span>PixelBuddha Team</span>
					</div>
					<nav class="social">
						<ul>
							<li><a href="https://www.facebook.com/" target="_blank" class="icon icon-facebook2"></a></li>
							<li><a href="https://twitter.com/?lang=ru" target="_blank" class="icon icon-twitter"></a></li>
							<li><a href="https://www.instagram.com/?hl=ru" target="_blank" class="icon icon-instagram"></a></li>
							<li><a href="https://ru.pinterest.com/" target="_blank" class="icon icon-pinterest"></a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</footer>