<div class="line_top">
		</div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="logo"><a href="index.html">Palo Alto</a>
						<nav class="top_nav">
							<ul>
								{% for link, title in data.nav %}
								<li><a href="{{link}}.html" {% if link==page %}class="active"{% endif %}>{{ title }}</a></li>
							{% endfor %}
								<li><a href="search-1.html" class="icon icon-search"></a></li>
							</ul>
						</nav>
						<a href="#" class="menu_js"><img src="img/burger.png"></a>
					</div>
				</div>
			</div>
		</div>