{% set page = 'index.html' %}

{% extends "layouts/default.njk" %}
{% block content %}

	<article>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="post post-item-wrap">
							<h1 class="post-title post-title-wrap">About</h1>
							<p>
								<i><span class="cursive">Aliquam rhoncus tincidunt dui ut auctor. Maecenas eget purus maximus, commodo sem et, porta nunc. Maecenas lacinia nibh in elementum sagittis.</span></i>
							</p>
							<p class="post-line">
								Maecenas auctor, libero sit amet varius lacinia, ante orci tincidunt lorem, at posuere neque ligula eu sapien. Etiam pellentesque, leo a porta auctor, nisi magna pellentesque mauris, eu lacinia risus lectus at diam. In vel consequat orci. Integer quis tristique enim. Proin ut orci ut ex eleifend porttitor. Vestibulum cursus sodales rhoncus.
							</p>
							<p>
								Cras ac elit non massa sodales commodo. Nullam dapibus sed orci nec finibus. Sed gravida nibh at mattis mattis. Ut bibendum orci at diam pharetra viverra. Nam pellentesque varius eleifend. Integer vitae elit viverra, mollis quam et, vehicula odio.
							</p>
						</div>	
					</div>
				</div>
			</div>
		</article>

{% endblock %}