{% set page = 'archive' %}

{% extends "layouts/default.njk" %}
{% block content %}

	<article>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="post post-item-wrap">
							<h1 class="post-title post-title-wrap">Archive</h1>
							<p class="archive-bottom-line">
								Nam efficitur, massa quis fringilla volutpat, ipsum massa consequat nisi, sed eleifend orci sem sodales lorem. Curabitur molestie eros urna, eleifend molestie risus placerat sed.
							</p>
							<div class="item-authors">
								<h2 class="archive-title-wrap">
									Authors
								</h2>
								<ul>
									<li>Ryan Killen</li>
									<li>Lisa Stewart</li>
									<li>James Lambert</li>
									<li>Mark Singer</li>
								</ul>
								<h2 class="archive-title-wrap">
									Categories
								</h2>
								<ul>
									<li>I Do Travel</li>
									<li>I Do Observe</li>
									<li>I DO Photos</li>
									<li>I Do Whatch</li>
									<li>I Do Listen</li>
									<li>I Do Quote</li>
									<li>I Do Explore</li>
								</ul>
							</div>
							<div class="item-month-posts">
								<h2 class="archive-title-wrap">
									Latest Posts
								</h2>
								<ul>
									<li>No Difference How Many Peaks You Reach If There Was No Pleasure In The Climb.</li>
									<li>You Know, I'd Rather Argue With You, Then Laugh With Anyone Else. </li>
									<li>Everything In The Universe Has A Rhythm, Everything Dances.</li>
									<li>As human beings, we have a natural compulsion to fill empty spaces.</li>
									<li>Nature and Books belong to the eyes that see them.</li>
								</ul>
								<h2 class="archive-title-wrap">
									Posts by Month
								</h2>
								<ul>
									<li>August 2015</li>
									<li>September 2015</li>
									<li>October 2015</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</article>

{% endblock %}