{% set page = 'index' %}

{% extends "layouts/default.njk" %}
{% block content %}

        <article>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post">
                            <header>
                                <div class="cite"><a href="post-travel.html">I Do Travel</a></div>
                                <div class="date"><a href="#">Sep 20</a></div>
                                <h1 class="post-title">No difference how many peaks you reach if there was no pleasure in the climb.</h1>
                                <p class="post-line">
                                    Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                                </p>
                            </header>
                            <footer class="bottom_line">
                                <button class="button-more">
                                    <a href="post-travel.html">Read more</a>
                                </button>
                                <div class="hashtag">
                                    <a href="#">#Explorer</a>
                                    <a href="#">#Peak</a>
                                    <a href="https://www.google.com.ua/search?q=%23yosemite&rlz=1C1SAVA_enUA691UA691&oq=%23yose&aqs=chrome.1.69i57j0l5.8374j0j8&sourceid=chrome&ie=UTF-8" target="_blank">#Yosemite</a>
                                </div>
                            </footer>
                        </div>  
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post">
                            <header>
                                <picture>
                                    <img src="assets/img/observe.jpg" class="image">
                                </picture>
                                <div class="cite cite_observe"><a href="post-observe.html">I Do Observe</a></div>
                                <div class="date"><a href="#">Sep 18</a></div>
                                <h1 class="post-title">You know, I'd rather argue with you, then laugh with anyone else.</h1>
                                <p class="post-line">
                                    <i><span class="cursive">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.</span></i>
                                </p>
                                <p>
                                    Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.

                                </p>
                                <p>
                                    Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.
                                </p>
                            </header>
                            <footer class="bottom_line">
                                <button class="button-more">
                                    <a href="post-observe.html">Read more</a>
                                </button>
                                <div class="hashtag">
                                    <a href="#">#Photo</a>
                                    <a href="#">#Peak</a>
                                    <a href="https://www.google.com.ua/search?q=%23yosemite&rlz=1C1SAVA_enUA691UA691&oq=%23yose&aqs=chrome.1.69i57j0l5.8374j0j8&sourceid=chrome&ie=UTF-8" target="_blank">#Yosemite</a>
                                </div>
                            </footer>
                        </div>  
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post">
                            <header>
                                <div class="grid-photos">
                                    <picture class="top-left">
                                        <img src="assets/img/IdoPhotos_1.jpg" alt="alt" class="top-left gallery-hover">
                                    </picture>
                                    <picture class="top-right">
                                        <img src="assets/img/IdoPhotos_2.jpg" alt="alt" class="top-right gallery-hover">
                                    </picture>
                                    <picture class="bottom-left">
                                        <img src="assets/img/IdoPhotos_3.jpg" alt="alt" class="bottom-left gallery-hover">
                                    </picture>
                                    <section class="bottom-right">
                                        <div class="gallery-navigation">
                                            <a href="#" class="photos-gallery"><span>21</span><br /> photos</a>
                                        </div>
                                    </section>
                                </div>
                                <div class="cite cite_photos"><a href="post-photos.html">I Do Photos</a></div>
                                <div class="date"><a href="#">Sep 14</a></div>
                                <h1 class="post-title">Everything in the universe has a rhythm, everything dances.</h1>
                                <p class="post-line">
                                    Donec hendrerit magna vitae metus viverra tincidunt. Cras dolor lacus, placerat sed nulla in, egestas pharetra neque. Sed sit amet aliquet erat. Integer nec mi convallis, condimentum odio quis, pharetra tellus. Donec mollis libero in volutpat luctus. Cras laoreet pulvinar dapibus. Nulla laoreet odio at nunc semper vestibulum. Sed magna mauris, molestie eu ipsum et, pharetra egestas neque.
                                </p>
                            </header>
                            <footer class="bottom_line">
                                <button class="button-more">
                                    <a href="post-photos.html">Read more</a>
                                </button>
                                <div class="hashtag">
                                    <a href="#">#Hi-res</a>
                                    <a href="#">#Photo</a>
                                    <a href="https://www.google.com.ua/search?q=%23yosemite&rlz=1C1SAVA_enUA691UA691&oq=%23yose&aqs=chrome.1.69i57j0l5.8374j0j8&sourceid=chrome&ie=UTF-8" target="_blank">#Yosemite</a>
                                </div>
                            </footer>
                        </div>  
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post post-whatch">
                            <header>
                                <div class="post-video">
                                    <iframe width="1349" height="480" src="https://www.youtube.com/embed/6C7opaKZwEE" frameborder="0" allowfullscreen></iframe>
                                </div>
                                <div class="cite cite_whatch"><a href="#">I Do Whatch</a></div>
                                <div class="date"><a href="#">Sep 14</a></div>
                                <h1 class="post-title">As human beings, we have a natural compulsion to fill empty spaces.</h1>
                            </header>
                            <footer class="hashtag_left">
                                    <a href="#">#Hi-res</a>
                                    <a href="#">#Photo</a>
                                    <a href="https://www.google.com.ua/search?q=%23yosemite&rlz=1C1SAVA_enUA691UA691&oq=%23yose&aqs=chrome.1.69i57j0l5.8374j0j8&sourceid=chrome&ie=UTF-8" target="_blank">#Yosemite</a>
                            </footer>
                        </div>  
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post">
                            <header>
                                <div class="cite"><a href="#">I Do Quote</a></div>
                                <div>
                                    <img src="assets/img/qoute.png" alt='alt' class="img_quote">
                                <h1 class="text_quote">There is always something left to love.<br>
                                    And if you ain’t learned that, you<br>
                                    ain’t learned nothing. 
                                </h1>
                                </div>
                            </header>
                            <footer class="hashtag_left">
                                    <a href="#">— Lorraine Hansberry</a>
                            </footer>
                        </div>  
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post">
                            <header>
                                <div>
                                    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/277534729&amp;color=%230066cc&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
                                </div>
                                <div class="cite"><a href="post-listen.html">I Do Listen</a></div>
                                <div class="date"><a href="#">Sep 14</a></div>
                                <h1 class="post-title">
                                    Music was my refuge. I could crawl into the space between the notes and curl my back to loneliness.
                                </h1>
                                <p class="post-line">
                                    Donec hendrerit magna vitae metus viverra tincidunt. Cras dolor lacus, placerat sed nulla in, egestas pharetra neque. Sed sit amet aliquet erat. Integer nec mi convallis, condimentum odio quis, pharetra tellus. Donec mollis libero in volutpat luctus. Cras laoreet pulvinar dapibus. Nulla laoreet odio at nunc semper vestibulum. Sed magna mauris, molestie eu ipsum et, pharetra egestas neque.
                                </p>
                            </header>
                            <footer class="bottom_line">
                                <button class="button-more">
                                    <a href="post-listen.html">Read more</a>
                                </button>
                                <div class="hashtag">
                                    <a href="https://www.google.com.ua/search?rlz=1C1SAVA_enUA691UA691&ei=u-zwWbT6J4SSaYGDvtgP&q=%23discovery&oq=%23discovery&gs_l=psy-ab.3..0i19k1l8j0i30i19k1l2.26333.32148.0.32995.9.9.0.0.0.0.209.1106.0j8j1.9.0....0...1.1.64.psy-ab..0.9.1105...0j35i39k1j0i10k1j0i203k1j0i30k1.0.fO6h6IFVJlI" target="_blank">#Discovery</a>
                                    <a href="https://www.google.com.ua/search?rlz=1C1SAVA_enUA691UA691&ei=iezwWdqXMcuoa9rEsrAL&q=%23music&oq=%23music&gs_l=psy-ab.3..0l7j0i203k1j0j0i30k1.2821.3965.0.4105.5.5.0.0.0.0.133.566.2j3.5.0....0...1.1.64.psy-ab..0.5.563....0.dsiBZtsfarA" target="_blank">#Music</a>
                                    <a href="https://twitter.com/hashtag/weekend" target="_blank">#Weekend</a>
                                </div>
                            </footer>
                        </div>  
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post">
                            <header>
                                <picture>
                                    <img src="assets/img/idoExplore.jpg" class="image">
                                </picture>
                                <div class="cite cite_explore"><a href="post-explore.html">I Do Explore</a></div>
                                <div class="date"><a href="#">Sep 12</a></div>
                                <h1 class="post-title">Nature and Books belong to the eyes that see them.</h1>
                                <p class="post-line">
                                    <i><span class="cursive">Nunc a enim interdum lectus accumsan sagittis. Ut mauris diam, efficitur vitae malesuada ut, tempus et mi. Sed eget leo vehicula, dapibus arcu id, viverra erat. Proin auctor non nulla sed mollis.</span></i>
                                </p>
                                <p>
                                    Nulla elit leo, tincidunt eu lacus ut, suscipit gravida tortor. Praesent feugiat, neque non pellentesque, velit sem hendrerit arcu, eu viverra ligula eu tortor. Suspendisse et cursus enim. Curabitur condimentum, sem quis pharetra hendrerit, leo odio rhoncus felis, sed posuere augue diam feugiat enim. Donec gravida non metus eu pretium. Ut sed sodales dolor, non vehicula enim. Nam fringilla blandit sem, eget vestibulum arcu porta sed. Mauris sit amet nulla id ante semper luctus id a enim.

                                </p>
                                <p>
                                    Sed ac venenatis dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut ut congue nulla. Aenean elementum gravida convallis. Integer ac neque nisi. Sed ac magna in risus convallis laoreet. Pellentesque in orci ante.
                                </p>
                            </header>
                            <footer class="bottom_line">
                                <button class="button-more">
                                    <a href="post-explore.html">Read more</a>
                                </button>
                                <div class="hashtag">
                                    <a href="https://twitter.com/hashtag/vacation" target="_blank">#Vacation</a>
                                    <a href="https://www.google.com.ua/search?q=%23yosemite&rlz=1C1SAVA_enUA691UA691&oq=%23yose&aqs=chrome.1.69i57j0l5.8374j0j8&sourceid=chrome&ie=UTF-8" target="_blank">#Yosemite</a>
                                    <a href="https://www.instagram.com/explore/tags/idea/" target="_blank">#Idea</a>
                                </div>
                            </footer>
                        </div>  
                    </div>
                </div>
            </div>
        </article>
        <article>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="post">
                            <header>
                                <div class="cite"><a href="post-reflect.html">I Do Reflect</a></div>
                                <div class="date"><a href="#">Sep 11</a></div>
                                <h1 class="post-title">Democracy means simply the bludgeoning of the people by the people for the people.</h1>
                                <p class="explore_p post-line"><img src="assets/img/IdoReflect.jpg" alt="alt" class="img_reflect">
                                    Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
                                </p>
                                <p>
                                    Mauris sem odio, rhoncus eget euismod sed, pellentesque sit amet felis. Praesent dictum eleifend dui et efficitur. Nunc non orci in neque sodales semper. Etiam euismod volutpat lorem, <a href="#"><span class="blue_text">vestibulum malesuada</span></a> justo aliquet eget. Nunc lacus ante, varius a euismod eu, finibus commodo erat. Curabitur tincidunt sit amet nunc id interdum. Aliquam augue nisi, venenatis vitae ex at, lobortis fringilla nibh. Proin placerat enim vitae egestas eleifend. 
                                </p> 
                                <p>
                                    Aliquam quis orci dignissim, posuere nibh a, eleifend augue. Cras quis metus nec tortor aliquet ullamcorper. Quisque varius porta metus, ut maximus dolor euismod nec. Suspendisse sit amet feugiat turpis.
                                </p>
                                <p class="post-reflect-quote">
                                    Curabitur ut leo pulvinar, consectetur magna eu, feugiat purus. Morbi hendrerit lectus turpis, a porttitor velit imperdiet id.
                                </p>
                                <p>
                                    Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla mattis tincidunt auctor. Nullam scelerisque ante mauris, egestas commodo nisi gravida ultrices. Suspendisse dapibus feugiat tincidunt. Aliquam gravida quam at ipsum sagittis bibendum.
                                </p>
                            </header>
                            <footer class="bottom_line">
                                <button class="button-more">
                                    <a href="post-reflect.html">Read more</a>
                                </button>
                                <div class="hashtag">
                                    <a href="https://www.instagram.com/explore/tags/introspection/" target="_blank">#Introspection</a>
                                    <a href="https://www.google.com.ua/search?rlz=1C1SAVA_enUA691UA691&q=%23democracy&oq=%23democracy&gs_l=psy-ab.3..0i19k1l4j0i30i19k1l6.2541.2815.0.3813.2.2.0.0.0.0.134.266.0j2.2.0....0...1.1.64.psy-ab..0.2.265...0i7i10i30k1.0.HKX7jEVgvYQ" target="_blank">#Democracy</a>
                                </div>
                            </footer>
                        </div>  
                    </div>
                </div>
            </div>
        </article>
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <nav class='page_numbers'>
                            <ul>
                                <li><a href="#" class="active">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </nav>


{% endblock %}