{% set page = 'post-travel' %}

{% extends "layouts/default.njk" %}
{% block content %}

	<article>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="post">
							<header>
								<div class="cite"><a href="#">I Do Travel</a></div>
								<div class="date"><a href="#">Sep 20</a></div>
								<h1 class="post-title">No difference how many peaks you reach if there was no pleasure in the climb.</h1>
								<p class="post-line">
									Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
								</p>
							</header>
							<footer class="bottom_line">
								<div class="hashtag">
									<a href="#">#Explorer</a>
									<a href="#">#Peak</a>
									<a href="https://www.google.com.ua/search?q=%23yosemite&rlz=1C1SAVA_enUA691UA691&oq=%23yose&aqs=chrome.1.69i57j0l5.8374j0j8&sourceid=chrome&ie=UTF-8" target="_blank">#Yosemite</a>
								</div>
							</footer>
						</div>	
					</div>
				</div>
			</div>
		</article>

{% endblock %}