{% set page = 'post-observe' %}

{% extends "layouts/default.njk" %}
{% block content %}

	<article>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="post">
							<header>
								<picture>
									<img src="assets/img/observe.jpg" class="image">
								</picture>
								<div class="cite cite_observe"><a href="#">I Do Observe</a></div>
								<div class="date"><a href="#">Sep 18</a></div>
								<h1 class="post-title">You know, I'd rather argue with you, then laugh with anyone else.</h1>
								<p class="post-line">
									<i><span class="cursive">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.</span></i>
								</p>
								<p>
									Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.

								</p>
								<p>
									Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.
								</p>
							</header>
							<footer class="bottom_line">
								<div class="hashtag">
									<a href="#">#Photo</a>
									<a href="#">#Peak</a>
									<a href="https://www.google.com.ua/search?q=%23yosemite&rlz=1C1SAVA_enUA691UA691&oq=%23yose&aqs=chrome.1.69i57j0l5.8374j0j8&sourceid=chrome&ie=UTF-8" target="_blank">#Yosemite</a>
								</div>
							</footer>
						</div>	
					</div>
				</div>
			</div>
		</article>

{% endblock %}