{% set page = 'post-photos' %}

{% extends "layouts/default.njk" %}
{% block content %}

	<article>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="post">
							<header>
								<div class="grid-photos">
									<picture class="top-left">
										<img src="assets/img/IdoPhotos_1.jpg" alt="alt" class="top-left gallery-hover">
									</picture>
									<picture class="top-right">
										<img src="assets/img/IdoPhotos_2.jpg" alt="alt" class="top-right gallery-hover">
									</picture>
									<picture class="bottom-left">
										<img src="assets/img/IdoPhotos_3.jpg" alt="alt" class="bottom-left gallery-hover">
									</picture>
									<section class="bottom-right">
										<div class="gallery-navigation">
											<a href="#" class="photos-gallery"><span>21</span><br /> photos</a>
										</div>
									</section>
								</div>
								<div class="cite cite_photos"><a href="#">I Do Photos</a></div>
								<div class="date"><a href="#">Sep 14</a></div>
								<h1 class="post-title">Everything in the universe has a rhythm, everything dances.</h1>
								<p class="post-line">
									Donec hendrerit magna vitae metus viverra tincidunt. Cras dolor lacus, placerat sed nulla in, egestas pharetra neque. Sed sit amet aliquet erat. Integer nec mi convallis, condimentum odio quis, pharetra tellus. Donec mollis libero in volutpat luctus. Cras laoreet pulvinar dapibus. Nulla laoreet odio at nunc semper vestibulum. Sed magna mauris, molestie eu ipsum et, pharetra egestas neque.
								</p>
							</header>
							<footer class="bottom_line">
								<div class="hashtag">
									<a href="#">#Hi-res</a>
									<a href="#">#Photo</a>
									<a href="https://www.google.com.ua/search?q=%23yosemite&rlz=1C1SAVA_enUA691UA691&oq=%23yose&aqs=chrome.1.69i57j0l5.8374j0j8&sourceid=chrome&ie=UTF-8" target="_blank">#Yosemite</a>
								</div>
							</footer>
						</div>	
					</div>
				</div>
			</div>
		</article>

{% endblock %}