{% set page = 'search-1' %}

{% extends "layouts/default.njk" %}
{% block content %}

	<article>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="post post-search">
							<h1 class="search-title">
								<span>Search results for</span> «interesting»
							</h1>
							<p class="search-results">10 Items Found</p>
						</div>
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="post">
							<header>
								<div class="cite"><a href="post-travel.html">I Do Travel</a></div>
								<div class="date"><a href="#">Sep 20</a></div>
								<h1 class="post-title">No difference how many peaks you reach if there was no pleasure in the climb.</h1>
								<p class="post-line">
									Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.
								</p>
							</header>
							<footer class="bottom_line">
									<a href="post-travel.html" class="button-more">Read more</a>
								<div class="hashtag">
									<a href="#">#Explorer</a>
									<a href="#">#Peak</a>
									<a href="https://www.google.com.ua/search?q=%23yosemite&rlz=1C1SAVA_enUA691UA691&oq=%23yose&aqs=chrome.1.69i57j0l5.8374j0j8&sourceid=chrome&ie=UTF-8" target="_blank">#Yosemite</a>
								</div>
							</footer>
						</div>	
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="post">
							<header>
								<div>
									<img src="assets/img/observe.jpg" class="image">
								</div>
								<div class="cite cite_observe"><a href="post-observe.html">I Do Observe</a></div>
								<div class="date"><a href="#">Sep 18</a></div>
								<h1 class="post-title">You know, I'd rather argue with you, then laugh with anyone else.</h1>
								<p class="post-line">
									<i><span class="cursive">Curabitur luctus placerat lorem id eleifend. Nulla ac lacus finibus, tempor velit hendrerit, vulputate lacus. Nunc fermentum nunc sem, ac eleifend tellus cursus nec. Donec a euismod est, vitae accumsan purus. Proin aliquet ex massa, ac finibus magna commodo vitae.</span></i>
								</p>
								<p>
									Quisque congue lacus mattis massa luctus, nec hendrerit purus aliquet. Ut ac elementum urna. Pellentesque suscipit metus et egestas congue. Duis eu pellentesque turpis, ut maximus metus. Sed ultrices tellus vitae rutrum congue. Fusce luctus augue id nisl suscipit, vel sollicitudin orci egestas. Morbi posuere venenatis ipsum, ac vestibulum quam dignissim efficitur. Ut vitae rutrum augue, in volutpat quam. Cras a viverra ipsum. Aenean ut consequat ex, vitae vulputate nunc. Vestibulum metus nisi, aliquam sed tincidunt sit amet, pretium et augue.

								</p>
								<p>
									Sed sagittis commodo dolor. Vivamus elementum sem sed sapien bibendum viverra. Curabitur semper scelerisque turpis eu ullamcorper. Morbi tincidunt auctor orci id consequat. Nulla odio mi, iaculis id congue quis, euismod id nisi. In varius congue diam, et viverra lorem bibendum ut.
								</p>
							</header>
							<footer class="bottom_line">
									<a href="post-observe.html" class="button-more">Read more</a>
								<div class="hashtag">
									<a href="#">#Photo</a>
									<a href="#">#Peak</a>
									<a href="https://www.google.com.ua/search?q=%23yosemite&rlz=1C1SAVA_enUA691UA691&oq=%23yose&aqs=chrome.1.69i57j0l5.8374j0j8&sourceid=chrome&ie=UTF-8" target="_blank">#Yosemite</a>
								</div>
							</footer>
						</div>	
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="post">
							<header>
								<div class="grid-photos">
									<section class="top-left">
										<img src="assets/img/IdoPhotos_1.jpg" alt="alt" class="top-left gallery-hover">
									</section>
									<section class="top-right">
										<img src="assets/img/IdoPhotos_2.jpg" alt="alt" class="top-right gallery-hover">
									</section>
									<section class="bottom-left">
										<img src="assets/img/IdoPhotos_3.jpg" alt="alt" class="bottom-left gallery-hover">
									</section>
									<section class="bottom-right">
										<div class="gallery-navigation">
											<a href="#" class="photos-gallery"><span>21</span><br /> photos</a>
										</div>
									</section>
								</div>
								<div class="cite cite_photos"><a href="post-photos.html">I Do Photos</a></div>
								<div class="date"><a href="#">Sep 14</a></div>
								<h1 class="post-title">Everything in the universe has a rhythm, everything dances.</h1>
								<p class="post-line">
									Donec hendrerit magna vitae metus viverra tincidunt. Cras dolor lacus, placerat sed nulla in, egestas pharetra neque. Sed sit amet aliquet erat. Integer nec mi convallis, condimentum odio quis, pharetra tellus. Donec mollis libero in volutpat luctus. Cras laoreet pulvinar dapibus. Nulla laoreet odio at nunc semper vestibulum. Sed magna mauris, molestie eu ipsum et, pharetra egestas neque.
								</p>
							</header>
							<footer class="bottom_line">
									<a href="post-photos.html" class="button-more">Read more</a>
								<div class="hashtag">
									<a href="#">#Hi-res</a>
									<a href="#">#Photo</a>
									<a href="https://www.google.com.ua/search?q=%23yosemite&rlz=1C1SAVA_enUA691UA691&oq=%23yose&aqs=chrome.1.69i57j0l5.8374j0j8&sourceid=chrome&ie=UTF-8" target="_blank">#Yosemite</a>
								</div>
							</footer>
						</div>	
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="post post-whatch">
							<header>
								<div class="post-video">
									<iframe width="1349" height="480" src="https://www.youtube.com/embed/6C7opaKZwEE" frameborder="0" allowfullscreen></iframe>
								</div>
								<div class="cite cite_whatch"><a href="#">I Do Whatch</a></div>
								<div class="date"><a href="#">Sep 14</a></div>
								<h1 class="post-title">As human beings, we have a natural compulsion to fill empty spaces.</h1>
							</header>
							<footer class="hashtag_left">
									<a href="#">#Hi-res</a>
									<a href="#">#Photo</a>
									<a href="https://www.google.com.ua/search?q=%23yosemite&rlz=1C1SAVA_enUA691UA691&oq=%23yose&aqs=chrome.1.69i57j0l5.8374j0j8&sourceid=chrome&ie=UTF-8" target="_blank">#Yosemite</a>
							</footer>
						</div>	
					</div>
				</div>
			</div>
		</article>
		<article>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="post">
							<header>
								<div class="cite"><a href="#">I Do Quote</a></div>
								<div>
									<img src="assets/img/qoute.png" alt='alt' class="img_quote">
								<h1 class="text_quote">There is always something left to love.<br>
									And if you ain’t learned that, you<br>
									ain’t learned nothing. 
								</h1>
								</div>
							</header>
							<footer class="hashtag_left">
									<a href="#">— Lorraine Hansberry</a>
							</footer>
						</div>	
					</div>
				</div>
			</div>
		</article>
		<nav>
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class='page_numbers'>
							<ul>
								<li><a href="#" class="active">1</a></li>
								<li><a href="search-2.html">2</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>

{% endblock %}