@import "bootstrap-grid.scss";
@import "media.scss";
@import "normalize.scss";
@import "icon-font.scss";

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src:url(../assets/fonts/Lato/Lato-Regular.ttf) format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 700;
	src:url(../assets/fonts/Lato/Lato-BoldItalic.ttf) format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src:url(../assets/fonts/Lato/Lato-Bold.ttf) format('truetype');
}
@font-face {
	font-family: 'Lato';
	font-style: italic;
	font-weight: 400;
	src:url(../assets/fonts/Lato/Lato-Italic.ttf) format('truetype');
}
body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 17px;
	min-width: 320px;
	position: relative;
	background-color: #f7f9fc;
	overflow-x: hidden;
	-webkit-font-smoothing: antialised;
	margin: 0;
}
article {
	margin-bottom: 50px;
}
.line_top {
	width: 54%;
	height: 4px;
	background-color: #5c6bc0;
	position: absolute;
}
.logo {
	font-weight: 700;
	font-style: italic;
	font-size: 42px;
	font-weight: bold;
	margin-top: 70px;
	margin-bottom: 70px;
}
.logo a {
	color: #333333;
	text-decoration: none;
}
.top_nav {
    display: inline-block;
    float: right;
}
.top_nav ul {
	list-style-type: none;
	float: right;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0;
}
.top_nav ul li {
	display: inline-block;
}
.top_nav a {
	text-decoration: none;
	margin: 0 12px;
	color: #333333;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;
}
.top_nav a.icon-search:hover {
	border-bottom: none;
}
.top_nav a:hover {
	border-bottom: #5c6bc0 3px solid;
	padding-bottom: 4px;
}
.top_nav a:last-child {
	margin-right: 0;
}
a.active {
	color: #c9c9ca;
}
a.active:hover {
	border-bottom: none;
}
.post {
	background-color: #fff;
	height: auto;
	box-shadow: 0 0 20px 20px rgba(0,0,0,0.04);
}
.post-search {
	padding: 60px 0 70px 0;
}
.search-title {
	margin: 0 0 0 100px;
	font-size: 40px;
	line-height: 50px;
}
.search-title span {
	font-weight: 500;
}
.search-results {
	font-weight: 700;
	color: #7f7f7f;
	font-size: 25px;
}
.cite {
	font-weight: 700;
	font-size: 14px;
	background-color: #5c6bc0;
	position: absolute;
	right: -10px;
	padding: 10px;
	margin-top: 20px;
}
.cite a {
	color: #fff;
	text-decoration: none;
}
.date {
	padding-top: 60px;
	font-weight: 700;
	font-size: 14px;
	padding-left: 100px;
}
.date a {
	color: #bdbdbd; 
	text-decoration: none;
}
.date a:hover {
	color: #BDBDF0;
}
.post-title {
	font-weight: 700;
	font-size: 40px;
	line-height: 50px;
	padding: 0;
	margin: 40px 100px 50px 100px;
}

p {
	font-weight: 400;
	font-size: 17px;
	line-height: 30px;
	color: #414141;
	margin: 0 100px;
	margin-top: 30px;
}
.button-more {
	float: left;
	background-color: #fff;
	width: 190px;
	height: 50px;
	text-align: center;
	border: none;
	cursor: pointer;
}
.button-more a {
	font-weight: 700;
	line-height: 50px;
	font-size: 21px;
	color: #5c6bc0;
	text-transform: uppercase;
	text-decoration: none;
	
}
.button-more:hover {
	border: #f1f1f1 1px solid;
}
.hashtag {
	margin-top: 20px;	
}
.hashtag a {
	display: inline-block;
	float: right;
	text-decoration: none;
	margin-left: 10px;
	font-weight: 400;
	font-size: 15px;
	color: #b2b2b2;
}
.hashtag a:hover {
	color: #5c6bc0;
	text-decoration: underline;
}
.hashtag_left a:hover {
	color: #5c6bc0;
	text-decoration: underline;
}
.hashtag_left {
	padding-bottom: 80px;
	margin-left: 100px;
}
.hashtag_left a {
	display: inline-block;
	text-decoration: none;
	margin-right: 10px;
	font-weight: 400;
	font-size: 15px;
	color: #b2b2b2;
}
.grid-photos {
	display: grid;
	border: 8px solid #fff;
	max-width: 100%;
	max-height: 660px;
	position: relative;
	margin: auto;
	grid-template-areas: "top-left top-right" "bottom-left bottom-right";
	grid-template-columns: 50% 50%;
	grid-template-rows: repeat(11, 1fr);
}
.top-left {
	grid-area: 1 / 1 / span 5 / span 1;
	height: 100%;
	width: 100%;
	border-right: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.top-right {
	grid-area: 1 / 2 / span 6 / span 2;
	height: 100%;
	width: 100%;
	border-left: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
.bottom-left {
	grid-area: 6 / 1 / span 11 / span 1;
	height: 100%;
	width: 100%;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
}
.bottom-right {
	background-image: url(../assets/img/IdoPhotos_4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	grid-area: 7 / 2 / span 11 / span 2;
	height: 100%;
	width: 100%;
	border-top: 2px solid #fff;
	border-left: 4px solid #fff;
}
.gallery-navigation {
	text-align: center;
	margin-top: 20%;
}
.photos-gallery {
	color: #fff;
	text-decoration: none;
	font-weight: 400;
	font-size: 24px;
}
.photos-gallery:hover {
	color: #b2b2b2;
}
.photos-gallery span {
	font-size: 78px;
	line-height: 72px;
}
.gallery-hover:hover {
	transform: scale(1.009);
	transition: 1s linear .1s;
	opacity: 0.8;
}
.image {
	width: 100%;
	height: auto;
	display: block;
}
.image:hover {
	transform: scale(1.009);
	transition: 1s linear .1s;
	opacity: 0.8;
}
.post-video {
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.post-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.text_quote {
	font-weight: 700;
	font-style: italic;
	font-size: 40px;
	margin: -20px 100px 40px 100px;
	line-height: 56px;
}
.sound {
	background-color: #fff;
	box-shadow: 0 0 20px 20px rgba(0,0,0,0.04);
}
.bottom_line {
	padding: 30px 100px 110px 66px;
}
.cursive {
	font-size: 25px;
	line-height: 38px;
	color: #7f7f7f;
	margin-bottom: 40px;
	line-height: 38px;
	
}
.img_quote {
	margin-top: 30px;
	margin-left: -20px;
}
.img_reflect {
	margin-right: 40px;
	margin-bottom: 50px;
	float: left;
}
.blue_text {
	color: #5c6bc0;
	font-weight: 700;
	font-size: 17px;
	text-decoration: underline;
}
.post-reflect-quote {
	border-left: #eee 3px solid;
	font-weight: 400;
	font-size: 20px;
	color: #999;
	padding-left: 20px;
	margin: 20px 100px;
}
.page_numbers {
	text-align: center;
	margin-top: 70px;
	margin-bottom: 120px;
}
.page_numbers ul {
	padding: 0;
}
.page_numbers li {
	list-style-type: none;
	display: inline-block;
	margin: 0 10px;
}
.page_numbers a {
	background-color: #fff;
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.02);
	height: 40px;
	width: 40px;
	text-align: center;
	text-decoration: none;
	color: #333333;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	display: block;
}
.page_numbers a.active {
	background-color: #5c6bc0;
	color: #fff;
}
.page_numbers a:hover {
	color: #5c6bc0;
}
.page_numbers a.active:hover {
	background-color: #5c6bc0;
	color: #fff;
}
.contacts {
	background-color: #5c6bc0;
	height: auto;
	text-align: center;
}
.bottom-logo {
	font-weight: 700;
	font-style: italic;
	font-size: 36px;
	margin-top: 60px;
	margin-bottom: 60px
}
.bottom-logo a {
	text-decoration: none;
	color: #4a569a;
}
.bottom_nav ul {
	padding: 0;
}
.bottom_nav li {
	list-style-type: none;
	display: inline-block;
}
.bottom_nav a {
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	margin: 0 20px;
}
.bottom_nav a:hover {
	border-bottom: 2px solid #fff;
	padding-bottom: 2px;
}
.bottom_nav a.active {
	color: #a9afdb;
}
.bottom_nav a.active:hover {
	border-bottom: none;
}
.bottom_nav a.icon-searh {
	color: #fff;
}
.bottom_nav a.icon-search:hover {
	border-bottom: none;
}
h6 {
	font-weight: 400;
	font-size: 13px;
	color: #9da6d9;
	margin: 40px auto;
	line-height: 23px;
}
.foot-line {
	border-top: #5765b5 2px solid;
	width: 70%;
	padding-top: 40px;	
}
.info-designed {
	font-weight: 400;
	font-size: 14px;
	color: #9da6d9;
	margin: 40px auto;
}
.info-designed span {
	font-weight: 700;
	font-size: 14px;
	color: #fff;
}
.info-designed-line {
	border-top: #5765b5 2px solid;
	width: 62%;
	padding-top: 40px;
}
.social {
	margin-top: 40px;
	margin-bottom: 80px;	
}
.social ul {
	padding: 0;
}
.social li {
	list-style-type: none;
	display: inline-block;
}
.social a {
	text-decoration: none;
	color: #fff;
	font-size: 22px;
	margin: 0 12px;
}
.top_nav a.icon-search:hover {
	color: #5c6bc0;
}
.menu_js {
	background-image: url(img/burger.png);
	display: none;
}
.post-line {
	border-top: #eee 2px solid;
	max-width: 80%;
	padding-top: 45px;
}
.post-item-wrap {
	padding: 80px 0 120px 0;
	margin-bottom: 70px;
}
.post-title-wrap {
	margin-top: 0;
}
.archive-bottom-line {
	border-bottom: #eee 2px solid;
	max-width: 80%;
	padding-bottom: 45px;
}
.archive-title-wrap {
	font-size: 30px;
	font-weight: 700;
	color: #b2b2b2;
	margin-bottom: 40px;
	margin-top: 0;
}
.item-authors {
	margin: 45px 0 55px 100px;
	float: left;
}
.item-authors ul {
	padding: 0;
	margin-bottom: 60px;
}
.item-authors li {
	list-style-type: none;
	margin-bottom: 25px;
	font-weight: 700;
}
.item-month-posts {
	margin: 46px 100px 55px 470px;
}
.item-month-posts ul {
	padding: 0;
	margin-bottom: 70px;
}
.item-month-posts li {
	list-style-type: none;
	margin-bottom: 30px;
	font-weight: 700;
}
.contacts-wrap {
	margin: 50px 100px 60px 100px;
}
.contacts-wrap input {
	background-color: #f7f9fc;
	border: none;
	text-indent: 35px;
	line-height: 30px;
	font-size: 20px;
	margin-bottom: 25px;
	height: 55px;
}
.contacts-name-wrap {
	width: 48%; 
}
.contacts-email-wrap {
	width: 48%;
	float: right;
}
.contacts-subject-wrap {
	width: 100%;
}
.contacts-message-wrap {
	width: 100%;
	background-color: #f7f9fc;
	border: none;
	font-size: 20px;
	text-indent: 35px;
	line-height: 30px;
}
input::placeholder {
	color: #bcbdbf;
}
textarea::placeholder {
	color: #bcbdbf;
}
.message-button {
	margin-left: 90px;
}

